{% extends 'rootBase.html.twig' %}

{% block defaultBody %}
    <div class="row">
        <div class="col s10 offset-s1">
			<div class="card-panel">
                {% block body %}{% endblock %}
			</div>
        </div>
    </div>
{% endblock %}
