{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card-panel">
                <h4>lalal</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
