<div id="payModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Resumen Gastos</h4>
		<p class="fechaLiquidacion red-text"></p>

		<div class="card-panel">
			<h5>Gastos en Gestoria</h5>
			<table class="striped hovered">
				<thead>
					<tr>
						<th>Concepto</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sellados Gestoria</td>
						<td class="selladosGestoria"></td>
					</tr>
					<tr>
						<td>Honorarios</td>
						<td class="honorarios"></td>
					</tr>
					<tr>
						<td>Otros</td>
						<td class="otros"></td>
					</tr>

					<tr id="totalGestoriaModal">
						<td><b>Gastos Gestoria</b></td>
						<td><b class="totalGestoria"></b></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="card-panel">
			<h5>Gastos en Registro</h5>
			<table class="striped hovered">
				<thead>
					<tr>
						<th>Concepto</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Gastos Arancel</td>
						<td class="gastosArancel"></td>
					</tr>
					<tr>
						<td>Impuestos Patente</td>
						<td class="impuestosPatente"></td>
					</tr>
					<tr>
						<td>Sellados Registro</td>
						<td class="selladosRegistro"></td>
					</tr>
					<tr>
						<td><b>Depositado en Registro</b></td>
						<td><b class="totalDepositadoEnRegistro"></b></td>
					</tr>
					<tr>
						<td><b>Gastos en Registro</b></td>
						<td><b class="totalEnRegistro"></b></td>
					</tr>
					<tr>
						<td><b>Restante en Registro</b></td>
						<td><b class="restoEnRegistro"></b></td>
					</tr>
				</tbody>
			</table>
			<br>
			<div class="center-align">
				<button id="tranferRestoButton" class="waves-effect btn" onclick="confirmModal(doAddResto)" disabled>Agregar restante a cuenta gestoria</button>
			</div>
		</div>

		<br>
		<div class="center-align">
			<h5><b>TOTAL Gastos: </b><b class="total"></b></h5>
		</div>

	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Cerrar</a>
	</div>
</div>
