{% extends 'base.html.twig' %}

{% block body %}
    <h4>Registros del Automotor</h4>

    <table class="striped highlight">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for registroDelAutomotor in registrosDelAutomotor %}
            <tr>
                <td>{{ registroDelAutomotor.nombre }}</td>
                <td class="fit">
                    <a href="{{ path('registrodelautomotor_edit', { 'id': registroDelAutomotor.id }) }}" class="btn waves-effect waves-light no-lateral-padding"><i class="material-icons">mode_edit</i></a>
                    <a onclick="confirmModal('{{ path('registrodelautomotor_delete', { 'id': registroDelAutomotor.id }) }}')" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="fixed-action-btn">
        <a href="{{ path('registrodelautomotor_new') }}" class="btn-floating btn-large waves-effect waves-light teal darken-2">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
